<div class="h-full">
  <p-table
    #dt1
    [value]="employees"
    dataKey="id"
    editMode="row"
    [tableStyle]="{'min-width': '50rem'}"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 50, 100]"
    [paginator]="true"
    currentPageReportTemplate="Mostrando del {first} al {last} de un total de {totalRecords} registros."
    [globalFilterFields]="['id', 'name', 'charge', 'age', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
  >

    <!-- MAIN FILTER -->
    <ng-template pTemplate="caption">
      <div class="flex gap-4 items-center">
        <h2 class="text-xl">TABLA DE EMPLEADOS</h2>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal(inputFilterValue, 'contains')" [(ngModel)]="inputFilterValue" placeholder="Busqueda general" />
        </span>
        <button pButton label="Limpiar filtro" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
      </div>
    </ng-template>

    <!-- HEADER -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width:18%">Id</th>
        <th style="width:18%">Nombre</th>
        <th style="width:18%">Cargo</th>
        <th style="width:18%">Edad</th>
        <th style="width:18%">Cambiar Estatus</th>
        <th style="width:10%">Más Acciones</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="id" placeholder="Id"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="name" placeholder="Nombre"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="charge" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="charges" (onChange)="filter($event.value)" placeholder="Selecciona un cargo" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  {{ option.descripcion }}
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="age" placeholder="Edad"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="status" (onChange)="filter($event.value)" placeholder="Selecciona un estatus" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <p-tag [value]="option.label" [severity]="getStatus(option.value)"></p-tag>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>

    <!-- BODY -->
    <ng-template pTemplate="body" let-employee let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="employee">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.charge }}</td>
        <td>
          <p-cellEditor *ngIf="employee.status == 'Inactivo'">
            <ng-template pTemplate="input">
              <input pInputText type="number" [(ngModel)]="employee.age" min="18" required>
            </ng-template>
          </p-cellEditor>
          <ng-container *ngIf="employee.status === 'Activo' || !editing">
            <span>{{ employee.age }}</span>
          </ng-container>
        </td>
        <td>
          <button pButton type="button" (click)="changeEmployeeStatus(employee)" [class]="'p-button-' + getStatus(employee.status)">
            {{ employee.status }}
          </button>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-user-edit" (click)="onRowEditInit(employee)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(employee)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(employee, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
        <td>
          <button pButton pRipple type="button" icon="pi pi-user-minus" (click)="deleteEmployee($event, employee)" class="p-button-rounded p-button-text p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
